<!--2026/10/8更新：加入查詢功能-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>股票查詢</title>
</head>

<body>

    <h1>股票查詢</h1>

    <form action="/stock" method="get">

        <label>股票代號：</label>
        <input type="text" name="stock">

        <br><br>

        <label>年份：</label>
        <input type="text" name="year">

        <br><br>

        <label>月份：</label>
        <input type="text" name="month">

        <br><br>

        <button type="submit">查詢</button>

    </form>

</body>
</html>
